%script{:src=>"/javascripts/jquery.js", :type=>"text/javascript"}
%script{:src=>"/javascripts/jquery.rating.js", :type=>"text/javascript"}
%link{:rel=>"stylesheet", :type=>"text/css", :media=>"screen", :href=>"/stylesheets/jquery.rating.css"}
%script{:type=>"text/javascript"} $(document).ready(function(){ $(".rating").rating(); $('.rating').val(#{@rating_value || 3}).change(); });

- form_for(url_for(:action=>'rate'), {:method=>"post"}) do
  Rating:
  #serialStar
    %select.rating{:name=>"rating"}
      %option{:value=>1} Very Poor
      %option{:value=>2} Poor
      %option{:value=>3} Fair
      %option{:value=>4} Good
      %option{:value=>5} Excellent
  %br
  Comment:
  %br
  %textarea{:name=>"comment"}= @rating? @rating.comment : ''
  %br
  %input{:type=>"submit", :value=>"rate"}
