= stylesheet_link_tag 'aloha'

- ["aloha/aloha.js", |
  "aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js", |
  "aloha/plugins/com.gentics.aloha.plugins.Table/plugin.js", |
  "aloha/plugins/com.gentics.aloha.plugins.List/plugin.js", |
  "aloha/plugins/com.gentics.aloha.plugins.Link/plugin.js", |
  "aloha/plugins/com.gentics.aloha.plugins.HighlightEditables/plugin.js", |
  "aloha/plugins/com.gentics.aloha.plugins.TOC/plugin.js", |
  "aloha/plugins/com.gentics.aloha.plugins.Link/delicious.js", |
  "aloha/plugins/com.gentics.aloha.plugins.Link/LinkList.js", |
  "aloha/plugins/com.gentics.aloha.plugins.Paste/plugin.js", |
  "aloha/plugins/com.gentics.aloha.plugins.Image/dep/jcrop/jquery.jcrop.js", |
  "aloha/plugins/at.tapo.aloha.plugins.Image/plugin.js", |
  "aloha/plugins/com.gentics.aloha.plugins.Paste/wordpastehandler.js"].each do |script|
  = javascript_include_tag script
= stylesheet_link_tag "aloha/plugins/at.tapo.aloha.plugins.Image/resources/imageplugin.css"

= javascript_include_tag 'aloha'

