.fieldValue!= @page.html

= link_to 'Edit', edit_page_path(@page) if can? :edit, @page
= link_to 'Delete', page_path(@page), :method=>:delete, :confirm_with => "Are you for sure?" if can? :destroy, @page


